<% if @advertisement %>
  <h1><span class="label label-danger"><%= @advertisement.title %></span></h1>
  <p class="lead"><%= @advertisement.sub_title %></p>
  <%= link_to("详情请点击查看", @advertisement, class: "btn btn-lg btn-success") %>
<% end %>