<% if advertisement %>
  <h1><span class="label label-danger"><%= advertisement.title %></span></h1>
  <p class="lead"><%= advertisement.sub_title %></p>
  <% if advertisement.content.strip.start_with?("h") %>
    <%= link_to("详情请点击查看", advertisement.content, class: "btn btn-lg btn-success") %>
  <% else %>
    <%= link_to("详情请点击查看", advertisement, class: "btn btn-lg btn-success") %>
  <% end %>
  <hr>
<% end %>