<p id="notice"><%= notice %></p>

<% if @girl.fit_error.size > 0 %>
  <h1><span class="label label-danger"><%= @girl.fit_error %></span></h1>
<% else %>
  <h1><span class="label label-success">恭喜您申请成功</span></h1>
  <h1>QQ号:<%= @girl.qq %></h1>
<% end %>

<hr>

<%= link_to '返回列表', girls_path, class: "btn btn-lg btn-primary" %>
